body {
    background-image: url(img/background.jpg);
    background-repeat: repeat;
    background-size: 100%;
    /* Comportamiento del fondo respecto al contenido */
    background-attachment: fixed;
}

#caja {
    background-color: rgb(106, 145, 189);
    border: 5px solid black;
    color: white;
    padding: 10px;
}

h2 {
    background-color: white;
    border: 5px solid red;
    color: red;
}